/* PAGE */
.fk-cart-page {
  max-width: 1250px;
  margin: 15px auto;
  display: flex;
  gap: 15px;
  font-family: Arial, sans-serif;
}

/* LEFT */
.fk-cart-left {
  flex: 3;
  background: #fff;
  border-radius: 2px;
}

.fk-cart-header {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #f0f0f0;
}

/* CART ITEM */
.fk-cart-card {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.fk-img img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

/* DETAILS */
.fk-details {
  flex: 1;
}

.fk-details h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.fk-price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* QTY */
.fk-qty {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.fk-qty button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  background: #fff;
  cursor: pointer;
}

.fk-qty span {
  font-size: 14px;
  font-weight: 500;
}

/* ACTIONS */
.fk-actions {
  display: flex;
  gap: 24px;
}

.fk-actions button {
  border: none;
  background: none;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.fk-actions button:last-child {
  color: #2874f0;
}

/* RIGHT */
.fk-price-box {
  flex: 1;
  background: #fff;
  padding: 16px;
  height: fit-content;
  position: sticky;
  top: 15px;
}

.fk-price-box h4 {
  color: #878787;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* PRICE ROWS */
.fk-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

.green {
  color: #388e3c;
}

.fk-total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  border-top: 1px dashed #c2c2c2;
  padding-top: 12px;
  margin-top: 10px;
}

/* PLACE ORDER */
.fk-place-order-btn {
  width: 100%;
  margin-top: 15px;
  background: #fb641b;
  color: #fff;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

/* SAVE TEXT */
.fk-save {
  color: #388e3c;
  font-size: 14px;
  margin-top: 10px;
}

/* EMPTY */
.fk-empty {
  text-align: center;
  padding: 60px;
}

.fk-empty button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #2874f0;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .fk-cart-page {
    flex-direction: column;
  }
}
