.cart-container {
  width: 100%;
  padding: 30px 60px;
}

.cart-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* PRODUCT SECTION */
.cart-product-box {
  display: flex;
  width: 65%;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.cart-image-box {
  width: 40%;
}

.cart-image-box img {
  width: 100%;
  border-radius: 8px;
}

.cart-product-info {
  width: 60%;
  padding-left: 20px;
}

.cart-price {
  font-size: 20px;
  font-weight: bold;
}

.cart-old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}

.cart-offer {
  color: green;
  font-size: 14px;
  margin: 5px 0;
}

.cart-qty-row {
  margin: 15px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-btn {
  padding: 3px 8px;
  cursor: pointer;
  border: 1px solid #777;
  background: white;
  border-radius: 5px;
}

.qty-number {
  padding: 2px 10px;
}

.cart-remove-btn,
.cart-move-btn {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-remove-btn {
  background: #d4d4d4;
  border: none;
}

.cart-move-btn {
  background: white;
  border: 1px solid #bbb;
}

/* PRICE DETAILS */
.price-box {
  width: 30%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.price-head {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.discount {
  color: green;
}

.price-total {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
}

.save-note {
  font-size: 13px;
  color: green;
  margin: 10px 0;
}

.place-order-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
